.height-100 {
  height: 100%;
}

.blue {
  color: #FAAB4C
}

.btn-transparent {
  background-color: transparent;
  border: 2px solid #FFF;
  color: #fff;
}
.btn-transparent:hover,
.btn-transparent:focus {
  background-color:#FAAB4C;
  border-color: #FAAB4C;
}


.navbar-inverse {
  background-color: transparent;
}

.navbar-nav .btn{
  padding: 8px 10px;
  margin: 6px 0 0 10px;
}

.scroll-fixed-navbar {
  background-color: #fff;
}
.scroll-fixed-navbar.navbar-inverse .navbar-brand svg path,
.scroll-fixed-navbar.navbar-inverse .navbar-brand svg rect {
  fill: #545454;
}
.scroll-fixed-navbar .navbar-nav > li > a,
.scroll-fixed-navbar .navbar-nav > li:not(.active) > a {color: #545454;}
.scroll-fixed-navbar .navbar-nav > li.active > a,
.scroll-fixed-navbar .navbar-nav > li.active > a:hover,
.scroll-fixed-navbar .navbar-nav > li.active > a:focus,
.scroll-fixed-navbar .navbar-nav > li.active > a:active {color: #FAAB4C; }


.scroll-fixed-navbar .navbar-nav .btn{
  border-color: #FAAB4C;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
  border: none;
}
.scroll-fixed-navbar .navbar-toggle .icon-bar {
  background-color: #545454;
}


#banner {
  background-image: url(../img/bg-banner.jpg);
}
.banner-content {
  height: 100%;
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-align-items:center;
  align-items:center;
}
.banner-content h1 {
  font-size: 5em;
  border-bottom: none;
}
.banner-content .lead {
  margin-top: 20px;
  margin-bottom: 30px;
  color: fff;
  font-weight: normal;
}
.banner-content .btn {
  margin-bottom: 50px;
}

.green-arrow li {
  font-size: 16px;

}

.steps-list li {
  cursor: pointer;
}
.steps-list li:hover span {
  background-color: #2b2b2b;

}
.steps-list li.active span {
  background-color: #FAAB4C;
  color: #1a1a1a;
}
.steps-list li.active:hover span {
  background-color: #FAAB4C;
  color: #1a1a1a;
}


.clients-logo img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#contribute .headline p {
  color: #fff;
}


.bg-footer {
  background-image: url(../img/bg-footer.jpg);
}


.footer .social li {
  background: #242424;
}
.footer .social li:hover {
  background: #31373a;
}



@media screen and (max-width: 992px) {
  .navbar-inverse .navbar-nav > li > a {color: #fff;}
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .navbar-inverse .navbar-nav > li > a:hover { color: #FAAB4C;}

  .banner-content h1 {
    font-size: 4em;
  }
  .banner-content .lead {
    margin-top: 10px;
    margin-bottom: 20px;
    color: fff;
    font-weight: normal;
  }
  .banner-content .btn {
    margin-bottom: 30px;
  }
  .carousel > div {
    margin: auto;
  }
  .col-xs-offset-1.col-md-5 h2, .col-xs-offset-1.col-md-4 .features{
    margin-top: 0px;
  }
  .nopadding-bottom {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-inverse {
    background-color: #fff;
  }
  .navbar-inverse .navbar-brand svg path,
  .navbar-inverse .navbar-brand svg rect {
    fill: #545454;
  }
  .navbar-nav > li > a,
  .navbar-nav > li:not(.active) > a {color: #545454;}
  .navbar-nav > li.active > a,
  .navbar-nav > li.active > a:hover,
  .navbar-nav > li.active > a:focus,
  .navbar-nav > li.active > a:active {color: #FAAB4C; }

  .navbar-nav .btn{
    margin-bottom: 10px;
  }

  .navbar-inverse .navbar-toggle,
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
    border: none;
  }
  .navbar-toggle .icon-bar {
    background-color: #545454 !important;
  }

  .banner-content h1 {
    font-size: 3em;
  }
}
