.height-100 {
  /*height: 100%;*/
}

.blue {
  color: #FAAB4C
}

.btn-transparent {
  background-color: transparent;
  border: 2px solid #FFF;
  color: #fff;
}
.btn-transparent:hover,
.btn-transparent:focus {
  background-color:#FAAB4C;
  border-color: #FAAB4C;
}

.padding20 {
  padding: 20px 0;
}
.margin-bottom-20{
  margin-bottom: 20px;
}


.navbar-inverse {
  background-color: transparent;
}

.navbar-nav .btn{
  padding: 8px 10px;
  margin: 6px 0 0 10px;
}

.scroll-fixed-navbar {
  background-color: #fff;
}
.scroll-fixed-navbar.navbar-inverse .navbar-brand svg path,
.scroll-fixed-navbar.navbar-inverse .navbar-brand svg rect {
  fill: #545454;
}
.scroll-fixed-navbar .navbar-nav > li > a,
.scroll-fixed-navbar .navbar-nav > li button,
.scroll-fixed-navbar .navbar-nav > li:not(.active) > a {color: #545454;}
.scroll-fixed-navbar .navbar-nav > li.active > a,
.scroll-fixed-navbar .navbar-nav > li.active > a:hover,
.scroll-fixed-navbar .navbar-nav > li.active > a:focus,
.scroll-fixed-navbar .navbar-nav > li.active > a:active {color: #FAAB4C; }


.scroll-fixed-navbar .navbar-nav .btn{
  border-color: #FAAB4C;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
  border: none;
}
.scroll-fixed-navbar .navbar-toggle .icon-bar {
  background-color: #545454;
}


.banner {
  background-image: url(../img/bg-banner.jpg);
}
.banner-dev {
  background-image: url(../img/bg-footer.jpg);
  background-position: center;
}
.banner-content {
  padding-top: 80px;
  /* height: 100%;
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-align-items:center;
  align-items:center; */
}
.banner-content h1 {
  font-size: 5em;
  border-bottom: none;
}
.banner-content .lead {
  margin-top: 20px;
  margin-bottom: 50px;
  color: fff;
  font-weight: normal;
  width: 70%;
}
.banner-content .btn {
  margin-bottom: 50px;
}

.carousel-inner .item p {
  cursor: pointer !important;
}

.logos img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.features a i{
  margin-top: 6px;
  margin-right: 5px;
}

.price-plan h3:first-child {
  margin: 30px;
}

.list-group-item a {
    margin-bottom: 5px;
}

#pricing img {
  display: inline-block;
    width: 70px;
    height: 70px;
}
#pricing h3{
  color: #333;
}

#contribute .headline p {
  color: #fff;
}

#clients img {
    width: 50px;
    height: 50px;
}
.answer.orange {
    border-color: #FAAB4C;
}


.bg-footer {
  background-image: url(../img/bg-footer.jpg);
}

.bg-footer-dev {
  background-image: url(../img/bg-banner-dev.jpg);
  background-position: center;
}


.footer .social li {
  background: #242424;
}
.footer .social li:hover {
  background: #31373a;
}


.aligned-row {
  display: flex;
  flex-flow: row wrap;

  &::before {
    display: block;
  }
}



@media screen and (max-width: 992px) {
  .navbar-inverse .navbar-nav > li > a {color: #fff;}
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .navbar-inverse .navbar-nav > li > a:hover { color: #FAAB4C;}

  .banner-content h1 {
    font-size: 4em;
  }
  .banner-content .lead {
    margin-top: 10px;
    margin-bottom: 30px;
    color: fff;
    font-weight: normal;
    width: 80%;
  }
  .banner-content .btn {
    margin-bottom: 30px;
  }
  .carousel > div {
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .navbar-inverse {
    background-color: #fff;
  }
  .navbar-inverse .navbar-brand svg path,
  .navbar-inverse .navbar-brand svg rect {
    fill: #545454;
  }
  .navbar-nav > li > a,
  .navbar-nav > li:not(.active) > a {color: #545454;}
  .navbar-nav > li.active > a,
  .navbar-nav > li.active > a:hover,
  .navbar-nav > li.active > a:focus,
  .navbar-nav > li.active > a:active {color: #FAAB4C; }

  .navbar-nav .btn{
    margin-bottom: 10px;
  }

  .navbar-inverse .navbar-toggle,
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
    border: none;
  }
  .navbar-toggle .icon-bar {
    background-color: #545454 !important;
  }

  .banner-content h1 {
    font-size: 3em;
  }

  .banner-content .lead {
    width: 100%;
  }

  .aligned-row {
    display: block;
  }

  .features {
    margin-bottom: 0;
  }
}
